[data-tab-content] {
    display: none;
}

.active[data-tab-content]{
    display: block;
}

body {
    padding: 0;
    margin: 0;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.tab {
    cursor: pointer;
    padding: 10px;
}
.active.tab {
    background-color: #aaa;
}
.tab:hover {
    background-color: #aaa;
}

.tab-content {
    margin: 20px;
    padding: 20px;
}